In [1]:
import pandas as p

- DataFrame: 2D Array
- DataSeries: Column

In [2]:
p.DataFrame({'name': ['a', 'b', 'c'], 'point': [1, 2, 3]})

  name  point
0    a      1
1    b      2
2    c      3

In [3]:
df = p.DataFrame([['a', 1],
                  ['b', 2],
                  ['c', 3]
                 ])
df

   0  1
0  a  1
1  b  2
2  c  3

In [6]:
df = p.read_csv("Advertising.csv", usecols=['TV', 'Radio', 'Newspaper', 'Sales'])
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [9]:
df = p.read_csv("Advertising.csv").drop('Unnamed: 0', axis=1)
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [11]:
df = p.read_csv("Advertising.csv")
df.drop('Unnamed: 0', axis=1)       # makes copy

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [13]:
df = p.read_csv("Advertising.csv")
df.drop('Unnamed: 0', axis=1, inplace=True)        #edits inplace
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [14]:
df = p.read_csv("housing.csv")
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

In [30]:
df = p.read_csv("iris.csv", index_col='Id')
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [16]:
df['SepalLengthCm']  #dataserie

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [17]:
df['SepalLengthCm'][2]      #incorrect

np.float64(4.9)

In [21]:
df.loc[2, ['SepalLengthCm']]        #correct

SepalLengthCm    4.9
Name: 2, dtype: object

In [22]:
df.loc[2:5, ['Species', 'SepalLengthCm']]

        Species  SepalLengthCm
Id
2   Iris-setosa            4.9
3   Iris-setosa            4.7
4   Iris-setosa            4.6
5   Iris-setosa            5.0

In [23]:
df.iloc[1:5, [2,3,4]]      # just works with indides

    PetalLengthCm  PetalWidthCm      Species
Id
2             1.4           0.2  Iris-setosa
3             1.3           0.2  Iris-setosa
4             1.5           0.2  Iris-setosa
5             1.4           0.2  Iris-setosa

In [25]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [31]:
df = df.drop(2)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
6              5.4           3.9            1.7           0.4     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[149 rows x 5 columns]

In [35]:
df.reset_index(inplace=True)
df

,level_0,index,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,1,1,3,4.7,3.2,1.3,0.2,Iris-setosa
2,2,2,4,4.6,3.1,1.5,0.2,Iris-setosa
3,3,3,5,5.0,3.6,1.4,0.2,Iris-setosa
4,4,4,6,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...,...,...,...
144,144,144,146,6.7,3.0,5.2,2.3,Iris-virginica
145,145,145,147,6.3,2.5,5.0,1.9,Iris-virginica
146,146,146,148,6.5,3.0,5.2,2.0,Iris-virginica
147,147,147,149,6.2,3.4,5.4,2.3,Iris-virginica
148,148,148,150,5.9,3.0,5.1,1.8,Iris-virginica

In [40]:
df2 = df.iloc[: , 4]
df2

0      3.5
1      3.2
2      3.1
3      3.6
4      3.9
      ...
144    3.0
145    2.5
146    3.0
147    3.4
148    3.0
Name: SepalWidthCm, Length: 149, dtype: float64

In [45]:
f = df2 > 3.5
f

0      False
1      False
2      False
3       True
4       True
       ...
144    False
145    False
146    False
147    False
148    False
Name: SepalWidthCm, Length: 149, dtype: bool

In [46]:
df.loc[f, :]         #filtering

,level_0,index,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
3,3,3,5,5.0,3.6,1.4,0.2,Iris-setosa
4,4,4,6,5.4,3.9,1.7,0.4,Iris-setosa
9,9,9,11,5.4,3.7,1.5,0.2,Iris-setosa
13,13,13,15,5.8,4.0,1.2,0.2,Iris-setosa
14,14,14,16,5.7,4.4,1.5,0.4,Iris-setosa
15,15,15,17,5.4,3.9,1.3,0.4,Iris-setosa
17,17,17,19,5.7,3.8,1.7,0.3,Iris-setosa
18,18,18,20,5.1,3.8,1.5,0.3,Iris-setosa
20,20,20,22,5.1,3.7,1.5,0.4,Iris-setosa
21,21,21,23,4.6,3.6,1.0,0.2,Iris-setosa
31,31,31,33,5.2,4.1,1.5,0.1,Iris-setosa
32,32,32,34,5.5,4.2,1.4,0.2,Iris-setosa
43,43,43,45,5.1,3.8,1.9,0.4,Iris-setosa
45,45,45,47,5.1,3.8,1.6,0.2,Iris-setosa
47,47,47,49,5.3,3.7,1.5,0.2,Iris-setosa
108,108,108,110,7.2,3.6,6.1,2.5,Iris-virginica
116,116,116,118,7.7,3.8,6.7,2.2,Iris-virginica
130,130,130,132,7.9,3.8,6.4,2.0,Iris-virginica

In [50]:
df.describe()      # describes numeric columns

,level_0,index,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,74.000000,74.000000,75.993289,5.849664,3.054362,3.774497,1.205369
std,43.156691,43.156691,43.168353,0.827208,0.435034,1.759651,0.761292
min,0.000000,0.000000,1.000000,4.300000,2.000000,1.000000,0.100000
25%,37.000000,37.000000,39.000000,5.100000,2.800000,1.600000,0.300000
50%,74.000000,74.000000,76.000000,5.800000,3.000000,4.400000,1.300000
75%,111.000000,111.000000,113.000000,6.400000,3.300000,5.100000,1.800000
max,148.000000,148.000000,150.000000,7.900000,4.400000,6.900000,2.500000

In [53]:
df['Species'].describe()      #describe non-numeric column

count                 149
unique                  3
top       Iris-versicolor
freq                   50
Name: Species, dtype: object

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   level_0        149 non-null    int64
 1   index          149 non-null    int64
 2   Id             149 non-null    int64
 3   SepalLengthCm  149 non-null    float64
 4   SepalWidthCm   149 non-null    float64
 5   PetalLengthCm  149 non-null    float64
 6   PetalWidthCm   149 non-null    float64
 7   Species        149 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 9.4+ KB